GATSBY_SANITY_PROJECT_ID="uclwqbsq"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skvd6SYvtynRiHzAUVZRSsHS1evkhGCSlAZJ5s84o0oarQV8KmZ6ub9fi2OfrLOxk2h5BIB0MEzKk3xNEinJ3Db59Z4lY3Jfa6Np2Fwze8HDqudSyCTV1htm2IsyHbeTY1GAlfqFaDnNDNqmCjDMBABNKWAPLQYMtq2mh33w8nspft3kAeCk"

